{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-unused-vars": [
      1,
      {
        "vars": "all", "args": "after-used", "ignoreRestSiblings": false
      }
    ],
    "no-case-declarations": 0,
    "import/prefer-default-export": 0,
    "no-console": 0
  }
 }